@import 'tailwindcss';

@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));

:root {
    --background: #edf0f1;
    --foreground: #3c3842;
    --lp-sysvale-title-color: rgb(7, 52, 106);
    --cuida-ds-title-color: rgb(42, 192, 146);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-rubik-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
        --lp-sysvale-title-color: #ededed;
        --cuida-ds-title-color: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-rubik-sans), sans-serif;
}

h1 {
    font-weight: 700;
}
